@use '../../styles/variables' as vars
@use '../../styles/mixins' as mixins

.dropdown-field-component
    @include mixins.componentBaseStyles("select")
    @include mixins.errorStyles("select")
    @include mixins.successStyles("select")
    min-width: 249px
    min-height: 64px

    select
        color: white
        letter-spacing: -0.03em

    option
        color: white
        font-weight: 700
        letter-spacing: -0.03em
        font-size: 16px

.dropdown-field-component .in-focus
    transform: translate(0, 12px) scale(0.82)
    color: vars.$placeholder-color
