@use 'variables' as vars
    
@mixin fadeIn 
    animation: fadeIn 200ms ease-in-out forwards
    @keyframes fadeIn 
                0%
                    opacity: 0
                    transform: translateY(40%)
                100% 
                    opacity: 1
                    transform: translateY(0%)
