@import '../../styles/_variables'

.InputField
    > input
        font-family: $primary-font
        border: none
        padding: 1em
        margin: 0.4em 0 0.4em 0.25em

        &:focus, &:focus-visible
            outline-style: solid
            outline-width: 0.25em
            outline-color: $primary-color
