@use '../../styles/variables' as vars
@use '../../styles/mixins' as mixins

.hero-text
    min-width: 0
    max-width: 100%
    line-height: 3rem

.spaced-text
    color: white
    padding: 1.5rem 0
    letter-spacing: 0.56em
    
.post-code-error
    &::after
        content: "Error: Entered Postal Code is not a valid/supported US Postal Code."
        color: vars.$error
        position: relative
        top: 1rem

.capitalized-text
    font-weight: 400
    font-size: 2rem
    text-transform: uppercase

.primary-details-container
    height: 100%

.secondary-details-container
    padding-top: 2rem
    display: flex

    #descriptions
        color: white
        padding-right: 2rem
        line-height: 1.35rem
        width: 65%

        p
            padding-bottom: 4rem

    #budgeting-list
        width: 35%
    
    #results
        padding-top: 0
        padding-bottom: 0
        display: flex
        flex-wrap: wrap
        justify-content: flex-start

    .result-heading
        padding-bottom: 0
        
        h2
            font-size: 1.13rem
            font-weight: 400
        
        h3
            padding-top: 1rem
            font-weight: 700
            font-size: 1.5rem
            letter-spacing: 0

        &:nth-child(1)
            margin-right: 2.5rem
            margin-bottom: 2rem

        &:nth-child(2)
            margin-right: 5rem
            margin-left: 0
            margin-bottom: 2rem
        
        &:nth-child(3)
            margin-bottom: 2rem
            span
                font-size: 0.75rem
                letter-spacing: 0.2em

    .synopsis
        padding-top: 2rem
        line-height: 1.35rem

        h2
            padding: 0
            font-size: 1.13rem
            font-weight: 400

        p
            padding-top: 1rem
            font-weight: 400

        span
            font-weight: 700

.footer
    color: white
    text-align: center
    text-transform: uppercase
    letter-spacing: 0.2em
    overflow-x: hidden
    overflow-y: hidden
    margin-top: auto

    a
        text-decoration: none
        color: white

    ul li 
            padding-bottom: 1rem

    button
        cursor: pointer
        text-decoration: none
        background-color: transparent
        color: white
        text-transform: uppercase
        letter-spacing: 0.2em
        font-size: 1rem
    
    button:hover
        color: vars.$primary-color
