@use '../../styles/variables' as vars
@use '../../styles/mixins' as mixins

.spaced-text
    color: white
    padding: 1.5rem 0
    letter-spacing: 0.56em

.capitalized-text
    font-weight: 400
    font-size: 2rem
    text-transform: uppercase

.secondary-details-container
    padding-top: 2rem
    display: flex

    #descriptions
        color: white
        padding-right: 2rem
        line-height: 1.35rem
        width: 65%

    #budgeting-list
        width: 35%
    
    #results
        padding-top: 2.15rem
        display: flex
        flex-wrap: wrap
        flex-basis: 100%
        justify-content: space-evenly

.result-heading
    padding-top: 1rem

    h2
        font-size: 1.13rem
        font-weight: 400
    
    h3
        padding-top: 1rem
        font-weight: 700
        font-size: 1.5rem
        letter-spacing: 0

    &:nth-child(1), &:nth-child(2)
        width: 30%
    
    &:nth-child(3)
        min-width: 40%

        span
            font-size: 0.75rem
            letter-spacing: 0.2em

.synopsis
    line-height: 1.35rem

    h2
        font-size: 1.13rem
        font-weight: 400
        padding-bottom: 0

    p
        padding-top: 1rem
        font-weight: 400

    span
        font-weight: 700
