.user-details-component
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    flex-basis: 100%
    background-color: #0F0F0F
    padding-top: 0
    padding-bottom: 0

    .input-field-component
        padding-top: 1.2rem
        padding-bottom: 1.2rem
        &.error
            &::after
                top: 2.4rem
                right: -0.1rem
        &.success
            &::after
                top: 2.4rem
                right: -0.1rem
        
    .dropdown-field-component
        padding-top: 1.2rem
        padding-bottom: 1.2rem
        
        &.error
            &::after
                top: 2.4rem
                right: -0.1rem

        &.success
            &::after
                top: 2.4rem
                right: -0.1rem
